.login-split-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #f5f7fb;
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.login-card h1 {
  font-size: 32px;
  color: #0d47a1;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 24px;
  color: #555;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 12px;
  font-size: 16px;
  color: #888;
  pointer-events: none;
}

input {
  width: 100%;
  padding: 12px 12px 12px 38px; /* espaço pro ícone */
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  background-color: #edf4ff;
}

input:focus {
  outline: none;
  border-color: #0d47a1;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background-color: #0d47a1;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0b3c91;
}

.bottom-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.bottom-link a {
  color: #0d47a1;
  text-decoration: none;
}

.login-right {
  flex: 1;
  background-color: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-right img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  margin-top: 40px;
}
